*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.editor{
    /* width: 100vw;
    height: 100vh; */
    background-color: rgb(92, 90, 90);
    display: flex;
    flex-direction: column;
}

.code{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #111;
    width: auto;
    height: auto;
}

.html,.css,.js{
    /* margin:2px; */
    margin-top: 0;
    padding: 4px;
    background-color: blue;
    color: #fff;
    height: 30rem;
    width: 50rem;
    border: 1px solid rgb(1, 1, 19);
}

#html-code,
#css-code,
#js-code{
    width: 43rem;
    height: 25rem;
    margin-left: 7px;
    margin-top: 7px;
    padding: 0.5rem 1rem;
    background-color: blue;
    resize: none;
    font-size: 1.5rem;
    border: none;
}

::-webkit-scrollbar{
    scroll-behavior: smooth;
}

.output-window{
    width: 100%;
    height: auto;
}

.op{
    padding-top: 0.5rem;
    color: #fff;
    text-align: center;
}

#output{
    margin-top: 1rem;
    margin: 1rem;
    width: 102rem;
    height: 30rem;
    overflow-y: auto;
    border: none;
    color: #fff;
}


@media(max-width: 1096px){
    .code{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 836px) {
    .output-window{
        width: 100%;
    }

    #output{
        width: 35rem;
    }
}

@media (max-width: 495px) {
    .code{
        width: fit-content;
    }

    .html,.css,.js{
        /* margin: 2rem; */
    }
}